---
# Flare Constellation Environment Configuration
x-fdc-api-key-coston: &fdc-api-key-coston
  api_key: "password1234"

x-fdc-api-key-songbird: &fdc-api-key-songbird
  api_key: "password1234"

# Database Passwords
x-standard-db-password: &standard-db-password
  password: password123

x-songbird-db-password: &songbird-db-password
  password: password123

x-flare-db-password: &flare-db-password
  password: password123

x-standard-rpc-development: &standard-rpc-development  
  username: admin
  password: p@ssmethesalt

x-standard-rpc-testnet: &standard-rpc-testnet
  username: admin
  password: p@ssmethesalt

x-standard-rpc-canary: &standard-rpc-canary
  username: admin
  password: p@ssmethesalt

x-standard-rpc-production: &standard-rpc-production  
  username: admin
  password: p@ssmethesalt